#hdr{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background-color:  dimgray;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    grid-column: 1/4;
}
a{
    color: black;
    font-size: large;
    text-decoration-line: none;
}
a:hover{
    color: dimgray;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-family: monospace;
    background-color: lightgrey;
}
.section{
    grid-column: 2/3;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: cadetblue;
    padding: 20px;
    margin-top: 15px;
    border: solid 2px black;
}
.sectionHDR{
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-decoration-line: underline;
}
#site{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


label{
    text-align: right;
}

input[type=submit]
{
    grid-column: 2/3;
    margin-top: 10px;

}
form{
    display: contents;
}
.footer{
    grid-column: 1/4;
    font-weight: bold;
    text-align: center;
    background-color:  dimgray;
    text-align: center;
    border: solid 2px black;
    margin-top: 25px;
    padding: 10px;
    grid-column: 1/4;
}

#status
{
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
}

.indexSection{
    grid-column: 2/3;
    font-size: large;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: cadetblue;
    padding: 20px;
    margin-top: 15px;
    border: solid 2px black;
}

table{
    grid-column: 2/3;
}
td,th{
    text-align: center;
}

